<h5>Inicia Sesion</h5>

<%= form_with(model: @user, url:sessions_path ,local: true) do |form| %>

<%= form.label :email %>
<%= form.text_field :email %>

<%= form.label :password %>
<%= form.password_field :password %>
<br>
<%= form.submit 'Enviar' %>
<%#formulario va a create%>
<% end %>