<!DOCTYPE html>
<html>
  <head>
    <title>ScraffoldAnidado</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% if logged? %>
  		<h5>Hola <%= current_user.name %>!</h5>

      <%= link_to "salir", session_path(current_user), method: :delete %>
  		<% else %>
  			<h5>No a iniciado session...</h5>
        <%= link_to "ingresar", users_sign_in_path%>
        <%= link_to "registrarte", users_sign_up_path %>
  	<% end %>

    <p><%= notice %></p>
    <p><%= alert %></p>
  	<% #class container %>
    <%= yield %>
    <% #class container %>

    <% #js %>
  </body>
</html>
